# cache/gen
*.py[co]
__pycache__/
/README.html
/readme.html
/Readme.html
/api_doc.html
output.txt
output.html
doc/*.html

# local
*.db
/media/*
/staticfiles/*
venv/
local_conf/
/extstatic/
migrations/
/static/pdata.*
/static/ques/
/static/ques
/data/qdata.json

# private
secret.txt
secret/
/TODO.txt
/.env

# Trash
*~
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride
*.sw[po]
