# cache/gen
*.pyc
__pycache__/
/README.html
output.txt
output.html
doc/*.html
/static/qfile.*

# local
*.db
/media/*
/staticfiles/*
venv/
local_conf/
/extstatic/
migrations/

# private
secret.txt
secret/
/TODO.txt
/.env

# Trash
*~
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride
*.swp
